
.container{
  max-width: 1000px;
}
body{
  font-family: "Roboto", Arial, Tahoma;
}
.form-group-lg .select2-container--bootstrap .select2-selection--single, .input-group-lg .select2-container--bootstrap .select2-selection--single, .select2-container--bootstrap .select2-selection--single.input-lg {
  border-radius: 5px 0px 0px 5px;
}

#search{
  padding: 20px 0px 5px 0px;
  background: #323a45;
}
.nav-line{
  background: #323a45;
  color: #fff;
  padding: 10px 0px;
  font-style: italic;
}
.nav-line span{
  float: left;
  margin-right: 5px;
}
.nav-line .line-vertical{
  margin:0px 5px;
}
.nav-line a{
  padding: 5px;
}
#header{
  background: #e8e8e8;
  padding: 30px 0px 30px 0px;
}
#header h1{
  margin-top: 0px;
}
.logo-mobile{
  font-size: 0;
  float: left;
  padding:0px;
  margin-right: 20px;
  border: 0px;
  width: 165px;
  height: 57px;
  background: url(../img/logo.png) no-repeat;
}
.line-vertical-top {
  height: 30px;
  padding-right: 20px;
  border-left: 1px solid #333;
  float: left;
}
#header p{
  margin-top: 15px;
  display: inline;
  font-size: 16px;
  margin-top: 6px;
  float: left;
  font-style: italic;
}
#menu{
  margin-top: 5px;
}
#menu a{
  color:#fff;
  background: #ff4a3b;
  padding: 10px 8px;
}
#menu a:hover{
  background: #586b84;
}
#menu li.active a{
  background: #323a45;
}
#segments{
  background: #ff4a3b url(../img/seta.png) no-repeat;
}
#segments .placeholder{
  padding-top: 10px;
  width: 100%;
  padding-bottom: 10px;
}
#segments a{
  background-color: #ff4a3b;
  border-top: 20px solid #ff4a3b;
  color: #fff;
  text-decoration: none;
}
#segments a:hover, #segments a.active:hover{
  background-color: #323a45;
  border-color: #323a45;
}
#segments a.active{
  background-color: #4f6179;
  border-color: #4f6179;
}
#segments h2{
  font-size: 1em;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#segments .owl-dots{
  display: none;
}
#segments .owl-prev, #segments .owl-next {
  background-position: 0 -3086px;
  width: 32px;
  height: 32px;
  position: absolute;
  display: inline-block;
  margin-top: -15px;
  text-indent: -9999px;
  top: 50%;
  left: 0;
}
#segments .owl-theme .owl-nav{
  margin: 0px;
}
#segments .owl-prev{
  background: url(../img/controls.png) 0 -32px no-repeat;
}
#segments .owl-next{
  right: 0px;
  left: inherit;
  background: url(../img/controls.png) -43px -32px no-repeat;
}
/*slideshow*/
.slideshow{
  width: 100%;
  margin-bottom: 50px;
}
.bx-wrapper{
  padding: 0px;
  border: 0px;
  box-shadow: none;
}
.casa-e-construcao{
  background: url(../img/icons/casa-e-construcao.png) center top no-repeat;
}
.academias{
  background: url(../img/icons/academias.png) center top no-repeat;
}
.bazar{
  background: url(../img/icons/bazar.png) center top no-repeat;
}
.loja-de-suplementos{
  background: url(../img/icons/loja-de-suplementos.png) center top no-repeat;
}
.profissionais-liberais{
  background: url(../img/icons/profissionais-liberais.png) center top no-repeat;
}
.salao-de-beleza{
  background: url(../img/icons/salao-de-beleza.png) center top no-repeat;
}
.lojas-de-roupas{
  background: url(../img/icons/lojas-de-roupas.png) center top no-repeat;
}
.informatica{
  background: url(../img/icons/informatica.png) center top no-repeat;
}
.petshops{
  background: url(../img/icons/petshops.png) center top no-repeat;
}
.drogarias{
  background: url(../img/icons/drogarias.png) center top no-repeat;
}
.gastronomia-e-delivery{
  background: url(../img/icons/drogarias.png) center top no-repeat;
}
.advocacia{
  background: url(../img/icons/advocacia.png) center top no-repeat;
}
.restaurantes{
  background: url(../img/icons/restaurantes.png) center top no-repeat;
}
.festas-e-eventos{
  background: url(../img/icons/festas-e-eventos.png) center top no-repeat;
}

/*Ãrea Prata*/
.boxes .box{
  min-height: 360px;
  position: relative;
  border-right: 1px solid #ebebeb;
}
.boxes figure{
  overflow: hidden;
}
.boxes figure img {
  -moz-transition: all 0.5s;
   -webkit-transition: all 0.5s;
   transition: all 0.5s;
}
.boxes figure:hover img {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.boxes .box-overlay{
  position: relative;
  margin-bottom: 15px;
  transition: .5s ease;
  color: #fff;
  border:1px solid #ccc;
}
.boxes h2{
  line-height: 20px;
  font-size: 1.2em;
}
.boxes a{
  color: #ff4a3b;
}
#area-prata p{
  color:#303a46;
}
p.info_email{
  word-break: break-all;
}

.bx-wrapper{
  position: relative;
  float: left;
  width: 100%;
}

.boxes .page-header{
  padding-bottom: 10px;
  border: 0px;
}
.boxes h1{
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  font-style: italic; color: #323a45;
}
.boxes h1 small{
  display: block;
  margin-left: -30px;
  margin-bottom: -15px;
  font-weight: 200;
}

.boxes .box img{
  width: 100%;
  height: 100%;
}

span.icon-segment-title{
  position: absolute;
  background-color: #ff4a3b;
  top: -10px;
  z-index: 10;
  right: -10px;
  width: 50px;
  height: 50px;
  font-size: 2em;
  border-radius:50%;
  text-indent: -9999px;
  border: 1px solid #ff4a3b;
  background-size: contain;
}

/*bronze*/
hr.divided{
  clear: both;
  margin: 20px 0px;
}
#area-bronze .box{
  border:1px solid #ccc;
  border-radius: 5px;
  min-height: 128px;
  padding: 0px 10px;
  box-shadow: -2px 0px 4px #999;
  background: #fff url(../img/bg-logo-box.jpg) no-repeat right bottom;
}
.boxes h4 {
  text-align: left;
  color: #323a45;
  font-size: 1.1em;
}
#area-bronze article{
  padding: 0px;
}

/*Newsletter*/
#newsletter{
  background: #e74c3c;
  padding:20px 0px 40px 0px;
  margin-top: 30px;
  color: #fff;
  text-align: center;
  clear: both;

}
#newsletter h2{
  font-size: 2em;
  padding:20px;
  margin-bottom: 20px;
}
.btn{
  background: #323a45;
  transition: all .4s;
  color: #fff;
}
.btn:hover{
  background: #a9281b;
  transition: all .4s;
  cursor: pointer;
  color: #fff;
}

/*Copyright*/
#copyright{
  background: #232d3c;
  padding: 25px 10px;
}
#copyright p{
  color: #fff;
  font-style: italic;
  text-align: center;
  margin: 0px;
}

/*Footer*/
#footer{
  background: #343a48 url(../img/background.jpg) top center repeat-x;
  margin-top: 30px;
  padding: 120px 0px 20px 0px;
}
#footer .box h1{
  font-size: 32px;
  color: #fff;
  font-style: italic;
  margin-bottom: 30px;
}
#footer p{
  color: #fff;
  font-style: italic;
}
#footer .box .icon-footer{
  width: 4%;
  height: 4%;
  margin-right: 10px;
  margin-top: 8px;
}
#footer .box img{
  margin-top: 30px;
  margin-right: 5px;
}

/*Page*/
.Page{
  margin-bottom: 100px;
}
#sidebar-info{
  overflow: hidden;
}
.Page > .page-header{
  border: 0px;
  background: url(../img/bg-title.jpg) repeat-x;
  margin: 0px;
  color: #fff;
}
.Page .page-header h1{
  padding: 20px 0px;
}
.Page .box-social a{
  float: left;
}
.Page .box-social a img{
  border: 1px solid #ddd;
  margin: 5px;
}
#body-content{
  margin-top:20px;
  margin-bottom: 20px;
  color: #666;
}

/*view-company*/
.view-company{
  position: relative;
  margin-top: 50px;
}
.view-company .page-header h1{
  color: #e74c3c;
}
.view-company .jumbotron{
  padding: 40px 20px;
}
.view-company .jumbotron p{
  font-size: inherit;
  color: #666;
}
.view-company .box-title{
  color: #e74c3c;
}

.content-thumbs{
	width:100%;
  overflow: hidden;
}
ul.thumbs{
	list-style:none;
	margin:0px;
	padding:0px;
}
ul.thumbs li a{
  display: inline-block;
  padding: 4px;
  border: 2px solid #ff4a3b;
}
ul.thumbs li a:hover{
  border-color: #232d3c;
}
ul.thumbs li {
  margin-bottom: 15px;
}
ul.thumbs img {
  width: 120px;
  height: 100px;
}
.content-gallery{
	float:right;
	width:72%;
}
@media screen and (max-width:820px) {
	.thumbs li{
		width:40%;
		height:50%;
	}
	.thumbs li img{
		width:98%;
		height:50%;
	}
}

/* Medium Devices - Smartphones */
@media screen and (max-width: 768px){
	#header .logo-mobile{
    background: url(../img/logo-mobile.png) no-repeat;
    margin-right: 0 auto;
    margin-left: 0 auto;
    width: 43px;
    height: 57px;
  }
	.line-vertical-top {
    height: 30px;
    margin-top: 8px;
    padding-right: 20px;
    border-left: 1px solid #333;
    float: left;
  }
	#header p{
    font-size: 16px;
    margin-top: 0px;
    float: none;
  }
  #menu{
    margin-top:20px;
  }
  #menu nav ul{
    max-width: 400px;
    float: left !important;
    margin:0 auto;
  }
  #menu nav li{
    float: left;
  }
  #segments .placeholder{
    min-height: 100px;
  }
  #bronzeAnuncios{
    float: left;
    margin-bottom: 20px;
  }

}

/* Medium Devices - Tablets & Desktops */
@media screen and (min-width: 768px){
  #segments .placeholder{
    min-height: 138px;
  }
}

@media screen and (max-width: 420px){
  .boxes .box{
    width:100%;
  }
}
