<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    versão 1.0
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2017 <a href="#">Company</a>.</strong> Todos os diretos reservados.
</footer>
